body {
    background: #070210;
    color: white;
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 75%;
}

span {
    text-shadow: 2px 2px 3px red;
}

h1 {
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    align-items: center;
}

.logo {
    display: flex;
    position: relative;
    height: 40px;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
    margin: 5px;
    padding: 5px;
    font-size: 65%;
}

.menu a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.9);
}

article.introduction {
    text-align: center;
    font-size: x-large;
    height: auto;
}


.diagonal-box {
    min-width: 100%;
    margin: 0 auto;
    transform: skewY(-15deg);
    margin-top: 8%;
    margin-bottom: 8%;
    height: 280px;
    background-color: red;
    background-image: url(images/kko.svg);
    background-size: 140px 140px;
}

.content {
    position: relative;
    margin: 0 auto;
    top: 130px;
    font-size: large;
    text-align: center;
}

div.incentives {
    margin: 3%;
    margin-top: 12%;
    font-size: x-large;
    text-align: center;
}

div.incentives p {
    font-size: x-large;
}

div.incentives-info {
    display: flex;
    top: 280px;
    height: 200px;
    justify-content: center;
    margin: 1%;
}

div.incentives-info h3 {
    font-size: 180%;
    padding: 10px;
    transition: text-shadow 2s ease;
    text-shadow: none;
    padding: 30px;
    width: 220px;
    border: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #070210 50%, red) ;
    margin: 10px;
    text-align: center;
}

div.incentives-info h3:hover {
    text-shadow: 3px 3px 5px red;
}

div.markets {
    text-align: center;
    font-size: 180%;
    margin: 3%;
    padding: 2%;
    width: auto;
    justify-content: center;
    align-items: center;
}

div.markets img {
    max-width: 10%;
    max-height: 10%;
    margin: auto;
}

.markets .container {
    display: flex;
    align-items: center;
}