* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #070210 60%, #2F1F42);
    color: white;
    font-family: 'Oswald', sans-serif;
    min-height: 100%;
}

p {
    margin: 5px;
}

span {
    text-shadow: 2px 2px 3px red;
}

h1 {
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    position: relative;
    height: 48px;
    padding: 10px;
}

.kko-coin {
    transition: transform .7s ease-in-out;
    margin-left: 50px;
}

.kko-coin:hover {
    transform: rotateX(360deg);
}

header a {
    text-decoration: none;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6);
    margin: 5px;
    padding: 5px;
    font-size: 65%;
}

header a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.9);
}

article.introduction {
    text-align: center;
    font-size: x-large;
    height: auto;
}

article.introduction div {
    margin: 30px auto;
}

article button {
    background-color: red;
    border-radius: 5px;
    font-size: 30px;
    outline-style: none;
    border-style: none;
    border: red solid 2px;
}

article button:hover {
    opacity: 80%;
}

article button a {
    text-decoration: none;
}

article button a:visited {
    color: white;
}


.diagonal-box {
    min-width: 100%;
    margin: 0 auto;
    transform: skewY(-15deg);
    margin-top: 8%;
    margin-bottom: 8%;
    height: 280px;
    background-color: red;
    background-image: url(images/kko.svg);
    background-size: 140px 140px;
}

.content {
    position: relative;
    margin: 0 auto;
    top: 130px;
    font-size: large;
    text-align: center;
}

article.incentives {
    margin: 3%;
    margin-top: 12%;
    font-size: xx-large;
    text-align: center;
}

article.incentives p {
    font-size: x-large;
    width: 55%;
    margin: 0 auto;
}

article.incentives span {
    text-shadow: 3px 3px 5px red;
}

.lp-rewards, .buy-kko {
    height: auto;
    font-size: x-large;
    display: flex;
    margin: 75px 75px;
}

.lp-rewards div {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;
}

section.lp-rewards div p {
    width: 75%;
    margin: 0 auto;
}

section.lp-rewards div img {
    max-height: 120px;
    max-width: 120px;
    margin-top: 15px;
}

.buy-kko div {
    text-align: center;
    margin: 0 auto;
    max-width: 70%;
}

.buy-kko img {
    max-height: 12%;
    max-width: 12%;
    margin-top: 15px;
    transition: transform .7s ease-in-out;
}

.buy-kko img:hover {
    transform: rotateX(360deg);
}

.buy-kko p {
    width: 65%;
    margin: 0 auto;
}

span.sushiswap {
    background-image: linear-gradient(to right, rgb(1, 110, 218), rgb(217, 0, 192));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    text-decoration: none;
}

#markets-1, #markets-2, #deposit-methods {
    display: flex;
    height: auto;
    margin: 200px 30px;
    font-size: x-large;
}

#markets-1 div, #markets-2 div, #deposit-methods div {
    margin: 0  auto;
    text-align: center;
    max-width: 50%;
}

#markets-1 h3, #markets-2 h3{
    padding-top: 20px;
}

#deposit-methods h3 {
    padding-top: 40px;
}

.logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.absolute-cat {
    position: absolute;
    max-height: 25%;
    max-width: 25%;
    right: 86%;
    top: -16%;
    z-index: -1;
    transform: rotate(-30deg);
}

.sport-logo {
    margin: 20px 25px;
    max-height: 25%;
    max-width: 25%;
}

.f1-hungary, .casino-games, .fiat-gateway {
    max-width: 80%;
    border-radius: 5%;

    @media only screen and (hover: none) and (pointer: coarse) {
        padding-top: 70px;
        }
}

#markets-2, #deposit-methods {
    margin-top: 250px;
}

.evolution {
    max-height: 40%;
    max-width: 40%;
}

.habanero {
    max-height: 40%;
    max-width: 40%;
}

.crypto-logo {
    margin: 20px 25px;
    max-height: 15%;
    max-width: 17.5%;
}

.crypto-cat {
    position: absolute;
    max-height: 25%;
    max-width: 25%;
    top: -18%;
    left: 82%;
    z-index: -1;
    transform: rotate(30deg);
}

.fiat-div, .casino-div, .sports-div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
}